<div class="bg-nav border-bottom">
  <div class="container">
    <nav class="navbar bg-nav">
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <h1 class="mb-0">
          <a
            class="navbar-brand Shrikhand text-secondary fs-8 me-0"
            href="../pages/index.html"
            >ALPHABOX+</a
          >
        </h1>

        <!-- md以下不見 -->
        <ul class="d-md-flex list-unstyled mb-0 d-none">
          <li class="me-10 Noto fw-semibold mb-1">
            <a class="text-secondary" aria-current="page" href="#">產品</a>
          </li>

          <li class="me-10 Noto fw-semibold mb-1">
            <a class="text-secondary" href="#">關於我們</a>
          </li>

          <li class="me-10 Noto fw-semibold mb-1">
            <a class="text-secondary" href="../pages/news.html">最新消息</a>
          </li>

          <li class="me-10 Noto fw-semibold mb-1">
            <a class="text-secondary" href="#">FAQ</a>
          </li>

          <li class="Noto fw-semibold mb-1">
            <a class="text-secondary" href="#">聯絡我們</a>
          </li>
        </ul>

        <!-- sm以下不見 -->
        <ul class="d-md-flex list-unstyled align-items-center mb-0 d-none">
          <li class="me-10 Noto fw-semibold mb-1">
            <a class="text-secondary" href="#">註冊</a>
          </li>

          <li class="me-10 Noto fw-semibold mb-1">
            <a class="text-secondary" href="#">登入</a>
          </li>

          <li class="Noto fw-semibold">
            <a
              class="btn btn-sm btn-secondary text-black d-flex align-items-center justify-content-center mx-auto"
              href="#"
            >
              <span class="material-symbols-outlined me-1"> point_scan </span>
              訂閱
            </a>
          </li>
        </ul>

        <!-- 漢堡按鈕不動 -->
        <!-- md以上不見 -->
        <button
          class="navbar-toggler d-md-none"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 漢堡按鈕裡面的header -->
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header bg-nav">
            <h5
              class="offcanvas-title Shrikhand fs-6 text-secondary"
              id="offcanvasNavbarLabel"
            >
              ALPHABOX+
            </h5>

            <!-- 漢堡按鈕 -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

          <!-- 漢堡按鈕裡面的body -->

          <div class="offcanvas-body bg-g-nav">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item text-center Noto fw-semibold mb-1">
                <a class="nav-link text-secondary" aria-current="page" href="#"
                  >產品</a
                >
              </li>

              <li class="nav-item text-center Noto fw-semibold mb-1">
                <a class="nav-link text-secondary" href="#">關於我們</a>
              </li>

              <li class="nav-item text-center Noto fw-semibold mb-1">
                <a class="nav-link text-secondary" href="#">最新消息</a>
              </li>

              <li class="nav-item text-center Noto fw-semibold mb-1">
                <a class="nav-link text-secondary" href="#">FAQ</a>
              </li>

              <li class="nav-item text-center Noto fw-semibold mb-1">
                <a class="nav-link text-secondary" href="#">聯絡我們</a>
              </li>

              <li class="nav-item text-center Noto fw-semibold mb-1">
                <a class="nav-link text-secondary" href="#">註冊</a>
              </li>

              <li class="nav-item text-center Noto fw-semibold mb-1">
                <a class="nav-link text-secondary" href="#">登入</a>
              </li>

              <!-- 還差一個btn -->
              <li class="nav-item text-center Noto fw-semibold">
                <a
                  class="nav-link btn btn-sm btn-secondary text-black d-flex align-items-center justify-content-center mx-auto"
                  href="#"
                >
                  <span class="material-symbols-outlined me-1">
                    point_scan
                  </span>
                  訂閱
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
