.pic {
  max-width: 196px;
}

@media (max-width: 768px) {
  .pic {
    max-width: 301px;
    height: 108px;
    overflow: hidden;

    img {
      margin-top: -165px;
    }
  }
}

.h-line:hover {
  text-decoration: underline;
}
