.ls-4 {
  letter-spacing: 16px;
}

.ls-5 {
  letter-spacing: 20px;
}

.ls-12 {
  letter-spacing: 48px;
}

.ls-18 {
  letter-spacing: 72px;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}
